<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
        <a class="navbar-brand mr-4" href="/">mc.iktim.no</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Hjem</a>
                <a class="nav-item nav-link" href="/map">Kart</a>
                <a class="nav-item nav-link" href="/docs">Docs</a>
                <a class="nav-item nav-link" href="https://github.com/TheN4meless0ne/IKTIM-Minecraft-Website">GitHub</a>
                <!-- Continue as needed -->
            </div>
        </div>
    </div>
</nav>